@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif; 
}

.card {
    background-color: hsl(248, 32%, 24%);
    border-radius: 7px;
    padding: 1rem;
    margin-bottom: 0.8rem;
   }

.albumImg {
    border-radius: 0.2rem;
}
   
.cardTitle {
    font-size: 1.3rem;
    color: white;
    font-weight: 400;
}

.buutonSend {
    padding: 13px;
    border-radius: 7px;
}

.cardContent {
    display: flex;
    align-items: center;
}

.cardDetails {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0px 13px;
}

.cardDetails, p {
    color: hsl(248, 89%, 79%);
    padding: 3px 0px;
    font-size: 0.9rem;
}

.buttonAddToPlay {
    padding: 7px 17px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    background-color: hsl(248, 32%, 24%);
    color: white;
    font-size: 2rem;
}