.titles {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: flex-end;
}

h5 {
    font-size: 20px;
    color: white;
    font-weight: 400;
}

.card {
    background-color: hsl(248, 100%, 59%);
    margin-bottom: 15px;
    padding: 16px 0px 16px 26px;
    border-radius: 7px;
    width: 80%;
}