.searchBar {
    grid-area: searchBar;
    display: flex;               /* Use Flexbox for centering */
    flex-direction: column;
    /* justify-content: center;     Center vertically */
    margin-top: 30%;
    align-items: center;         /* Center horizontally */

  }

.searchBar input {
    border: none;
    outline: none;
    border-bottom: 2px solid hsl(248, 55%, 41%);
    padding: 4px 0px;
    font-size: 2rem;
    width: 400px;
} 

.buttonSearch {
    border: none;
    margin-top: 1rem;
    width: 400px;
    border-radius: 3px;
    padding: 13px;
    color: white;
    background-color: hsl(248, 55%, 41%);
    font-size: 1.2rem;
}
  
