@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif; 
}

.card {
    background-color: hsl(248, 32%, 24%);
    border-radius: 7px;
    padding: 1rem;
    margin-bottom: 0.8rem;
   }
   
.cardTitle {
    font-size: 1.3rem;
}

.buutonSend {
    padding: 13px;
    border-radius: 7px;
}

.cardContent {
    display: flex;
    justify-content: space-between;
}

.cardContent, p {
    color: hsl(248, 89%, 79%);
    padding: 3px 0px;
}

.buttonAddToPlay {
    padding: 7px 17px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}